body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cardapio {
    text-align: center;
}

.sushi {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}